@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('../fonts/anton/Anton-Regular.ttf');
}

/* @font-face {
  font-family: 'Komika';
  src: url('../fonts/komika-display/KMKDSPSH.ttf');
}
@font-face {
  font-family: 'Komika Display';
  src: url('../fonts/komika-display/KMKDSPT_.ttf');
} */


@layer base {
  body {
    font-family: "Lato", "Anton";
  }
}